* {
    margin: 10px;
}

body {
    background-color: lightgray;
}

h1 {
    color: brown;
    text-align: center;
}

h3 {
    color: brown;
    text-align: center;
}

form {
    text-align: center;
}

label {
    color: brown;
    font-size: larger;
    font: bolder;
}
    
button {
    color: white;
    background: blue;
    font-size: large;
    outline: blue;
}


